<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>33529497354-vpm9igdrmgamakvg2eh4n4541jkj7hue.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.33529497354-vpm9igdrmgamakvg2eh4n4541jkj7hue</string>
	<key>API_KEY</key>
	<string>AIzaSyDwmTXFIorrEdi7mtn_osN1sooNlGRHzgg</string>
	<key>GCM_SENDER_ID</key>
	<string>33529497354</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ITM.Proyecto</string>
	<key>PROJECT_ID</key>
	<string>loginfirebase-8575f</string>
	<key>STORAGE_BUCKET</key>
	<string>loginfirebase-8575f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:33529497354:ios:768c4bf59ea5f6f1b21cf3</string>
</dict>
</plist>